CONFIG_TOYBOX=y
CONFIG_TOYBOX_LSM_NONE=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_TOYBOX_HELP=y
CONFIG_TOYBOX_HELP_DASHDASH=y
CONFIG_TOYBOX_FORK=y
CONFIG_SH=y
CONFIG_ECHO=y
CONFIG_CAT=y
CONFIG_ENV=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_SLEEP=y
CONFIG_TEST=y
CONFIG_TEST_GLUE=y
CONFIG_TOUCH=y
CONFIG_UNAME=y
